<!DOCTYPE html>
<html>
<head>
	<title>Página Principal</title>
	<% include partials/configHead.html %>

	<style media="screen">
		@media (min-width: 1200px) {
			.container{
				max-width: 1220px;
			}
		}
	</style>

</head>
<body>
	<% include partials/navigation.html %>

	<div class="container mb-2">
		<div class="row p-5 ">
			<div class="col-lg-12 text-center">
					<img src="/img/desarrollo.png" width="400" height="284">
				</div>
			</div>
		</div>
		<div class="container-fluid" style="background-color: #507DBC;">
			<div class="container p-3">
				<div class="col-md-12 text-center" >
					<div>
					<h4  style="font-family: 'Lusitana', cursive;"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </h4>
				 </div>
				 <div>
					 	<a class="btn text-white text-uppercase p-2" style="background-color: black;" href="/aboutus">más información ></a>
				 </div>
				</div>
			</div>
		</div>





	<div class="container-fluid" style="background-color: #1f1f1f;">
		<div class="container" style="background-color: #1f1f1f;">
			<div class="row p-4 text-white text-center">
				<div class="col-md-7">
					<img src="/img/iot.jpg" width="325" height="200" style="border-radius: 20px;">
				</div>
				<div class="col-md-5 text-left">
					<div>
						<h4><b>VICES&reg; </b></h4>
					</div>
					<div>
						<p> <h5> IoT te permite conocer más allá de lo que tus ojos te permiten ver. </h5></p>
					</div>
					<div>
						<a href="" class="text-uppercase"> Descubre más ></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="container" style="background-color: #dcdcdc;">
			<div class="row p-4 text-center">
				<div class="col-md-5 text-right">
					<div>
						<h4><b>WS Software</b></h4>
					</div>
					<div>
						<p> <h5> Innovación, ideas y soluciones de problemas en la palma de tu mano. </h5></p>
					</div>
					<div>
						<a href="" class="text-uppercase">Consultorías ></a>
					</div>
				</div>
				<div class="col-md-7">
					<img src="/img/programacion.jpg" width="425" height="300" style="border-radius: 20px;">
				</div>

			</div>
		</div>
	</div>

	<div class="container-fluid" style="background-color: #1f1f1f;">
		<div class="container" style="background-color: #1f1f1f;">
			<div class="row p-4 text-white text-center">
				<div class="col-md-7">
					<img src="/img/security.jpg" width="325" height="200" style="border-radius: 20px;">
				</div>
				<div class="col-md-5 text-left">
					<div>
						<h4><b>WS Security</b></h4>
					</div>
					<div>
						<p><h5>Monitoreamos constantemente hasta de los lugares más recónditos de la red. </h5></p>
					</div>
					<div>
						<a href="" class="text-uppercase">Conoce más ></a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!--Carousel SECTION -->
	<div class="container mb-2">
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner" style="background-color: #dcdcdc">
				<div class="carousel-item active">
					<div class="row p-5 ">
						<div class="col-md-7 text-center">
							<img src="/img/desarrollo.png" width="400" height="284">
						</div>
						<div class="col-md-5 text-left" >
							<div class="mt-5 mb-3" >
								<h4  style="font-family: 'Lusitana', cursive;">Creando soluciones que se adaptan a tus necesidades </h4>
							</div>
							<div>
								<a class="btn text-white text-uppercase p-2" style="background-color: black" href="/aboutus">más información ></a>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<img src="/img/coming.png" width="1200" height="380" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="/img/coming.png" width="1200" height="380" class="d-block w-100" alt="...">
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Anterior</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Siguiente</span>
			</a>
		</div>
	</div>





	<div class="container">
		<div class="row p-5 ">

		</div>

	</div>

	<!--CONTACT SECTION -->
	<div class="container-fluid" style="background-color:#04080F;">
		<div class="row text-white p-4 text-center">
			<div class="col-sm-7">
				<h3> Síguenos! </h3>
				<a class="mr-1" href=""><i class="fab fa-facebook fa-2x" ></i> </a> <a class="mr-1" href=""><i class="fab fa-twitter fa-2x" ></i> </a>  <a href=""><i class="fab fa-instagram fa-2x" ></i> </a>
			</div>
			<div class="col-sm-5 text-left" id="contacto">
				<div>
					<h3>Contáctanos!</h3>
				</div>
				<div>
					<i class="fas fa-envelope"></i><span class="ml-1"> onsupport@wolfskull.com</span>
				</div>
				<div>
					<i class="fas fa-phone"></i> <span class="ml-1">+57 3014630381</span>
				</div>

			</div>
		</div>
	</div>

	<% include partials/footer.html %>
</body>
</html>
