<footer class=" text-white" style="	background-color: #0D0D0D; " >
	<div class="container">

		<div class="row ">
			<div class="col-lg-6">
				<p style="font-size: 13px;"  class="mt-2"> &copy; Copyright 2019 WolfSkull Security & Software. All Rights Reserved.	</p>
			</div>
			<div class="col-lg-6" align="right">

			<p class="mt-1">	<a class="mr-2" style="font-size: 12px; color: white;" href="">Legal</a> | <a class="ml-2" style="font-size: 12px; color: white;" href="">Privacidad</a></p>
			</div>
		</div>

	</div>
</footer>

<!--Use later
	<div class="col-sm-6">
				<span> Follow us! </span>
				<div class="mt-2">
					<a href=""><i class="fab fa-facebook fa-2x"></i> </a> <a href=""><i class="fab fa-twitter fa-2x"></i> </a>  <a href=""><i class="fab fa-instagram fa-2x"></i> </a>
				</div>
			</div> -->
